In [58]:
!pip install bs4 --upgrade --quiet
!pip install requests --upgrade --quiet
from bs4 import BeautifulSoup 
import requests
import pandas as pd

In [59]:
url = requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi')
url

In [60]:
soup = BeautifulSoup(url.content)

In [61]:
p = soup.find("div",class_='rankings-block__banner--name').text
c = soup.find("div",class_='rankings-block__banner--nationality').text.strip().replace('\n                            872','')
r = soup.find("div",class_='rankings-block__banner--rating').text

In [62]:
p1 = list(p.split(","))
p1

['Babar Azam']

In [63]:
r

'872'

In [64]:
c1 = list(c.split(","))
c1

['PAK']

In [65]:
r1 = list(r.split(","))
r1

['872']

In [66]:
p = []
for i in soup.findAll("td", class_ ='table-body__cell name'):
    p.append(i.text.strip())

In [67]:
p2 = p[:9]

In [68]:
c = []
for i in soup.findAll("span", class_ ='table-body__logo-text'):
    c.append(i.text.strip())

In [69]:
c2 = c[:9]

In [70]:
r = []
for i in soup.findAll("td", class_ ='table-body__cell u-text-right rating'):
    r.append(i.text.strip())

In [71]:
r2 = r[:9]

In [72]:
Player = p1 + p2
country = c1 + c2
rating = r1 + r2

In [73]:
df = pd.DataFrame({'PLAYER':Player,'COUNTRY':country,'RATINGS':rating})
df

                  PLAYER COUNTRY RATINGS
0             Babar Azam     PAK     872
1            Virat Kohli     IND     811
2            Ross Taylor      NZ     794
3           Rohit Sharma     IND     791
4        Quinton de Kock      SA     789
5         Jonny Bairstow     ENG     775
6            Aaron Finch     AUS     771
7  Rassie van der Dussen      SA     769
8           David Warner     AUS     758
9            Imam-ul-Haq     PAK     746