In [1]:
!pip install bs4

Requirement already satisfied: bs4 in c:\users\91832\anaconda3\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\users\91832\anaconda3\lib\site-packages (from bs4) (4.9.3)
Requirement already satisfied: soupsieve>1.2; python_version >= "3.0" in c:\users\91832\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.0.1)

In [2]:
!pip install requests --upgrade --quiet
import requests
from bs4 import BeautifulSoup

In [3]:
page = requests.get('https://meesho.com/bags-ladies/pl/p7vbp')

In [4]:
page

In [5]:
bag = BeautifulSoup(page.content)

In [6]:
name = bag.find_all("p",color="greyT2")
name[4].text.strip()

'Voguish Classy Women Handbags'

In [7]:
name_ = []
for name in bag.find_all("p",color="greyT2"):
     name_.append(name.text.strip())

In [8]:
len(name_[::2])

20

In [9]:
price = bag.find("h5",color='greyBase')
price.text

'₹584'

In [10]:
price_= []
for price in bag.find_all("h5",color='greyBase'):
    price_.append(price.text)
price_

['₹584',
 '₹374',
 '₹384',
 '₹185',
 '₹534',
 '₹426',
 '₹145',
 '₹484',
 '₹323',
 '₹281',
 '₹263',
 '₹336',
 '₹234',
 '₹610',
 '₹1223',
 '₹565',
 '₹70',
 '₹746',
 '₹611',
 '₹693']

In [14]:
dis = bag.find_all("p",color="greyT1")
dis[130].text.strip()

'₹100 discount on 1st order'

In [15]:
dis_ = []
for dis in bag.find_all("p",color="greyT1"):
    dis_.append(dis.text)
    
     
lendis_

NameError: name 'lendis_' is not defined

In [16]:
len(dis_)

139

In [17]:
(dis_[118:138])

['₹100 discount on 1st order',
 '₹100 discount on 1st order',
 '₹100 discount on 1st order',
 '₹78 discount on 1st order',
 '₹100 discount on 1st order',
 '₹100 discount on 1st order',
 '₹61 discount on 1st order',
 '₹100 discount on 1st order',
 '₹100 discount on 1st order',
 '₹100 discount on 1st order',
 '₹100 discount on 1st order',
 '₹100 discount on 1st order',
 '₹100 discount on 1st order',
 '₹100 discount on 1st order',
 '₹100 discount on 1st order',
 '₹100 discount on 1st order',
 '₹30 discount on 1st order',
 '₹100 discount on 1st order',
 '₹100 discount on 1st order',
 '₹100 discount on 1st order']

In [18]:
import pandas as pd

In [19]:
df = pd.DataFrame({'Name':name_[::2],'Price':price_,'Discount':dis_[118:138]})
df

,Name,Price,Discount
0,Voguish Alluring Women Handbags,₹584,₹100 discount on 1st order
1,Elegant Attractive Women Handbags,₹374,₹100 discount on 1st order
2,Voguish Classy Women Handbags,₹384,₹100 discount on 1st order
3,Elegant Fashionable Women Handbags,₹185,₹78 discount on 1st order
4,Voguish Versatile Women Handbags,₹534,₹100 discount on 1st order
5,Graceful Attractive Women Handbags,₹426,₹100 discount on 1st order
6,Ameyson Attractive Women Jute Printed Lunch Ti...,₹145,₹61 discount on 1st order
7,Ravishing Versatile Women Handbags,₹484,₹100 discount on 1st order
8,Gorgeous Alluring Women Handbags,₹323,₹100 discount on 1st order
9,Elite Alluring Women Handbags,₹281,₹100 discount on 1st order
10,Graceful Attractive Women Handbags,₹263,₹100 discount on 1st order
11,HANDBAGS,₹336,₹100 discount on 1st order
12,Graceful Fancy Women Handbags,₹234,₹100 discount on 1st order
13,Classic Versatile Women Handbags,₹610,₹100 discount on 1st order
14,Voguish Alluring Women Handbags,₹1223,₹100 discount on 1st order
15,Elegant Versatile Women Handbags,₹565,₹100 discount on 1st order
16,FashionableLatest Women handbag,₹70,₹30 discount on 1st order
17,Ravishing Fashionable Women Handbags,₹746,₹100 discount on 1st order
18,Classic Classy Women Handbags,₹611,₹100 discount on 1st order
19,Voguish Stylish Women Handbags,₹693,₹100 discount on 1st order