In [1]:
!pip install bs4 --upgrade --quiet
!pip install requests --upgrade --quiet
from bs4 import BeautifulSoup 
import requests
import pandas as pd

In [2]:
url = requests.get('https://www.icc-cricket.com/rankings/womens/team-rankings/odi')

In [3]:
url

In [4]:
soup = BeautifulSoup(url.content)

In [5]:
soup.find('span',class_='u-hide-phablet')

In [6]:
team_ = []
for team in soup.findAll('span',class_='u-hide-phablet'):
    team_.append(team.text)
team_[:10]

['Australia',
 'South Africa',
 'England',
 'India',
 'New Zealand',
 'West Indies',
 'Bangladesh',
 'Pakistan',
 'Ireland',
 'Sri Lanka']

In [7]:
type(team)

bs4.element.Tag

In [23]:

m = soup.find("td",class_='rankings-block__banner--matches').text
p = soup.find("td",class_='rankings-block__banner--points').text
r= soup.find("td",class_='rankings-block__banner--rating u-text-right').text.strip()
m1= list(m.split(" "))
p1 = list(p.split(" "))
r1 =list(r.split(" "))

In [24]:

matches1 = []
for i in soup.findAll("td",class_='table-body__cell u-center-text'):
   
        matches1.append(i.text)

In [25]:
i1 = matches1[1::2]
i2 = matches1[::2]

In [26]:
p2 = i1[:9]
m2 = i2[:9]

In [27]:
ratings1 = []
for rating in soup.findAll("td",class_='table-body__cell u-text-right rating'):
    ratings1.append(rating.text)
r2 = ratings1[:9]

In [28]:
ratings_ = r1 + r2
matches_ = m1  + m2
points = p1 + p2

In [29]:
df = pd.DataFrame({'TEAM':team_[:10],'MATHCHES':matches_,'POINTS':points,'RATINGS':ratings_})
df

           TEAM MATHCHES POINTS RATINGS
0     Australia       27  4,487     166
1  South Africa       27  3,438     127
2       England       28  3,248     116
3         India       29  2,890     100
4   New Zealand       31  3,018      97
5   West Indies       27  2,399      89
6    Bangladesh       12    935      78
7      Pakistan       26  1,753      67
8       Ireland        5    240      48
9     Sri Lanka        5    233      47