In [1]:
!pip install bs4 --upgrade --quiet
!pip install requests --upgrade --quiet
from bs4 import BeautifulSoup 
import requests
import pandas as pd

In [13]:
url = requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling')
url

In [14]:
soup = BeautifulSoup(url.content)

In [26]:
p = soup.find("div",class_='rankings-block__banner--name-large').text
c = soup.find("div",class_='rankings-block__banner--nationality').text.strip().replace('\n                            733','')
r = soup.find("div",class_='rankings-block__banner--rating')
p

'Trent Boult'

In [27]:

p1 = list(p.split(","))
p1

['Trent Boult']

In [28]:

c1 = list(c_.split(","))
c1

['NZ']

In [30]:

r1 = list(r_.split(","))
r1

['733']

In [46]:
p = []
for i in soup.findAll("td", class_ ='table-body__cell rankings-table__name name'):
    p.append(i.text.strip())
p2 = p[:9]

In [47]:
c = []
for i in soup.findAll("span", class_ ='table-body__logo-text'):
    c.append(i.text.strip())
c2 = c[:9]

In [48]:
r = []
for i in soup.findAll("td", class_ ='table-body__cell rating'):
    r.append(i.text.strip())
r2 = r[:9]

In [49]:
Player = p1 + p2
country = c1 + c2
rating = r1 + r2

In [50]:
df = pd.DataFrame({'PLAYER':Player,'COUNTRY':country,'RATINGS':rating})
df

             PLAYER COUNTRY RATINGS
0       Trent Boult      NZ     733
1    Josh Hazlewood     AUS     705
2      Chris Woakes     ENG     700
3        Matt Henry      NZ     687
4  Mujeeb Ur Rahman     AFG     681
5    Jasprit Bumrah     IND     679
6      Mehedi Hasan     BAN     661
7   Shakib Al Hasan     BAN     657
8        Adam Zampa     AUS     650
9       Rashid Khan     AFG     650