In [1]:
!pip install bs4 --upgrade --quiet
!pip install requests --upgrade --quiet
from bs4 import BeautifulSoup 
import requests
import pandas as pd

In [2]:
url = requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi')
url

In [3]:
soup = BeautifulSoup(url.content)

In [8]:
p = soup.find("div",class_='rankings-block__banner--name').text
c = soup.find("div",class_='rankings-block__banner--nationality').text.strip().replace('\n                            740','')
r = soup.find("div",class_='rankings-block__banner--rating').text

In [10]:
r

'740'

In [5]:
p1 = list(p.split(","))
p1

['Laura Wolvaardt']

In [13]:
c1 = list(c.split(","))
c1

['SA']

In [14]:
r1 = list(r.split(","))
r1

['740']

In [15]:
p = []
for i in soup.findAll("td", class_ ='table-body__cell name'):
    p.append(i.text.strip())

In [19]:
p2 = p[:9]
p2

['Beth Mooney',
 'Meg Lanning',
 'Natalie Sciver',
 'Alyssa Healy',
 'Mithali Raj',
 'Rachael Haynes',
 'Tammy Beaumont',
 'Amy Satterthwaite',
 'Smriti Mandhana']

In [20]:
c = []
for i in soup.findAll("span", class_ ='table-body__logo-text'):
    c.append(i.text.strip())

In [21]:
c2 = c[:9]

In [22]:
r = []
for i in soup.findAll("td", class_ ='table-body__cell u-text-right rating'):
    r.append(i.text.strip())

In [23]:
r2 = r[:9]

In [24]:
Player = p1 + p2
country = c1 + c2
rating = r1 + r2

In [25]:
df = pd.DataFrame({'PLAYER':Player,'COUNTRY':country,'RATINGS':rating})
df

              PLAYER COUNTRY RATINGS
0    Laura Wolvaardt      SA     740
1        Beth Mooney     AUS     726
2        Meg Lanning     AUS     718
3     Natalie Sciver     ENG     705
4       Alyssa Healy     AUS     703
5        Mithali Raj     IND     686
6     Rachael Haynes     AUS     684
7     Tammy Beaumont     ENG     682
8  Amy Satterthwaite      NZ     681
9    Smriti Mandhana     IND     669