In [1]:
!pip install bs4 --upgrade --quiet
!pip install requests --upgrade --quiet
from bs4 import BeautifulSoup 
import requests
import pandas as pd

In [4]:
url = requests.get('https://www.icc-cricket.com/rankings/mens/team-rankings/odi')

In [5]:
url

In [9]:
soup = BeautifulSoup(url.content)

In [12]:
soup.find('span',class_='u-hide-phablet')

In [164]:
team_ = []
for team in soup.findAll('span',class_='u-hide-phablet'):
    team_.append(team.text)
team_[:10]

['New Zealand',
 'England',
 'Australia',
 'India',
 'South Africa',
 'Bangladesh',
 'Pakistan',
 'Sri Lanka',
 'West Indies',
 'Afghanistan']

In [66]:
type(team)

bs4.element.Tag

In [121]:

m = soup.find("td",class_='rankings-block__banner--matches').text
p = soup.find("td",class_='rankings-block__banner--points').text

m1= list(m.split(" "))
type(m1)

list

In [140]:
p = soup.find("td",class_='rankings-block__banner--points').text
p1 = list(p.split(" "))
p1

['2,185']

In [163]:
r1 = soup.find("td",class_='rankings-block__banner--rating u-text-right').text.strip()
r1 =list(r.split(" "))
r1

['121']

In [142]:

matches1 = []
for i in soup.findAll("td",class_='table-body__cell u-center-text'):
   
        matches1.append(i.text)

In [154]:
i1 = matches1[1::2]
i2 = matches1[::2]

In [155]:
p2 = i1[:9]
m2 = i2[:9]

In [156]:
ratings1 = []
for rating in soup.findAll("td",class_='table-body__cell u-text-right rating'):
    ratings1.append(rating.text)
r2 = ratings1[:9]

In [158]:
ratings_ = r1 + r2
matches_ = m1  + m2
points = p1 + p2

In [162]:
df = pd.DataFrame({'TEAM':team_[:10],'MATHCHES':matches_,'POINTS':points,'RATINGS':ratings_})
df

           TEAM MATHCHES POINTS RATINGS
0   New Zealand       18  2,185     121
1       England       32  3,793     119
2     Australia       29  3,387     117
3         India       38  4,162     110
4  South Africa       31  3,167     102
5    Bangladesh       36  3,350      93
6      Pakistan       28  2,590      93
7     Sri Lanka       35  2,835      81
8   West Indies       36  2,788      77
9   Afghanistan       23  1,562      68