In [1]:
!pip install bs4 --upgrade --quiet

In [2]:
!pip install requests --upgrade --quiet

In [3]:
import requests
from bs4 import BeautifulSoup

In [10]:
page = requests.get('https://www.imdb.com/search/title/?groups=top_100&sort=user_rating,desc&count=100')

In [11]:
page

In [66]:
top = BeautifulSoup(page.content)

In [116]:
name = top.find("h3",class_='lister-item-header').text.strip().replace('1.\n','').replace('\n','').replace('(1994)','')
name

'The Shawshank Redemption'

In [122]:
name_ = []
for name in top.find_all("h3",class_='lister-item-header'):
    name_.append(name.text.strip().replace('\n','').replace('\n','').replace('()',''))
name_

['1.The Shawshank Redemption(1994)',
 '2.The Godfather(1972)',
 '3.The Dark Knight(2008)',
 '4.The Lord of the Rings: The Return of the King(2003)',
 "5.Schindler's List(1993)",
 '6.The Godfather: Part II(1974)',
 '7.12 Angry Men(1957)',
 '8.The Lord of the Rings: The Fellowship of the Ring(2001)',
 '9.Pulp Fiction(1994)',
 '10.Inception(2010)',
 '11.The Lord of the Rings: The Two Towers(2002)',
 '12.Fight Club(1999)',
 '13.Forrest Gump(1994)',
 '14.Il buono, il brutto, il cattivo(1966)',
 '15.Interstellar(2014)',
 '16.The Matrix(1999)',
 '17.Goodfellas(1990)',
 '18.The Empire Strikes Back(1980)',
 "19.One Flew Over the Cuckoo's Nest(1975)",
 '20.Shichinin no samurai(1954)',
 "21.It's a Wonderful Life(1946)",
 '22.Cidade de Deus(2002)',
 '23.The Pianist(2002)',
 '24.Sen to Chihiro no kamikakushi(2001)',
 '25.Saving Private Ryan(1998)',
 '26.The Green Mile(1999)',
 '27.La vita è bella(1997)',
 '28.Se7en(1995)',
 '29.Léon(1994)',
 '30.Terminator 2: Judgment Day(1991)',
 '31.The Silence of the Lambs(1991)',
 '32.Back to the Future(1985)',
 '33.Star Wars(1977)',
 '34.Seppuku(1962)',
 '35.Gisaengchung(2019)',
 '36.Avengers: Infinity War(2018)',
 '37.Whiplash(2014)',
 '38.Django Unchained(2012)',
 '39.The Intouchables(2011)',
 '40.3 Idiots(2009)',
 '41.Spider-Man: No Way Home(2021)',
 '42.The Prestige(2006)',
 '43.The Departed(2006)',
 '44.Memento(2000)',
 '45.Gladiator(2000)',
 '46.American History X(1998)',
 '47.The Usual Suspects(1995)',
 '48.The Lion King(1994)',
 '49.Nuovo Cinema Paradiso(1988)',
 '50.Hotaru no haka(1988)',
 '51.Apocalypse Now(1979)',
 '52.Alien(1979)',
 '53.Once Upon a Time in the West(1968)',
 '54.Psycho(1960)',
 '55.Rear Window(1954)',
 '56.Casablanca(1942)',
 '57.Modern Times(1936)',
 '58.City Lights(1931)',
 '59.Capharnaüm(2018)',
 '60.Joker(I) (2019)',
 '61.Kimi no na wa.(2016)',
 '62.Spider-Man: Into the Spider-Verse(2018)',
 '63.Avengers: Endgame(2019)',
 '64.Coco(I) (2017)',
 '65.The Dark Knight Rises(2012)',
 '66.WALL·E(2008)',
 '67.The Lives of Others(2006)',
 '68.Oldeuboi(2003)',
 '69.American Beauty(1999)',
 '70.Mononoke-hime(1997)',
 '71.Braveheart(1995)',
 '72.Aliens(1986)',
 '73.Once Upon a Time in America(1984)',
 '74.Amadeus(1984)',
 '75.Raiders of the Lost Ark(1981)',
 '76.Das Boot(1981)',
 '77.The Shining(1980)',
 '78.Tengoku to jigoku(1963)',
 '79.Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb(1964)',
 '80.Witness for the Prosecution(1957)',
 '81.Paths of Glory(1957)',
 '82.Sunset Blvd.(1950)',
 '83.The Great Dictator(1940)',
 '84.Jagten(2012)',
 '85.Toy Story 3(2010)',
 '86.Inglourious Basterds(2009)',
 '87.Eternal Sunshine of the Spotless Mind(2004)',
 "88.Le fabuleux destin d'Amélie Poulain(2001)",
 '89.Requiem for a Dream(2000)',
 '90.Good Will Hunting(1997)',
 '91.Toy Story(1995)',
 '92.Reservoir Dogs(1992)',
 '93.Star Wars: Episode VI - Return of the Jedi(1983)',
 '94.2001: A Space Odyssey(1968)',
 '95.Lawrence of Arabia(1962)',
 '96.North by Northwest(1959)',
 '97.Vertigo(1958)',
 "98.Singin' in the Rain(1952)",
 '99.Citizen Kane(1941)',
 '100.M - Eine Stadt sucht einen Mörder(1931)']

In [124]:
rating = top.find("div", class_= 'inline-block ratings-imdb-rating')
rating.text.strip()

'9.3'

In [126]:
rating_ = []
for r in top.find_all('div',class_= 'inline-block ratings-imdb-rating'):
    rating_.append(r.text.strip())
rating_

['9.3',
 '9.2',
 '9.1',
 '9.0',
 '9.0',
 '9.0',
 '9.0',
 '8.9',
 '8.9',
 '8.8',
 '8.8',
 '8.8',
 '8.8',
 '8.8',
 '8.7',
 '8.7',
 '8.7',
 '8.7',
 '8.7',
 '8.7',
 '8.7',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3']

In [127]:
year = top.find("span", class_="lister-item-year text-muted unbold")

In [128]:
year.text

'(1994)'

In [129]:
year_ = []
for year in top.find_all(class_="lister-item-year text-muted unbold"):
    year_.append(year.text)
year_

['(1994)',
 '(1972)',
 '(2008)',
 '(2003)',
 '(1993)',
 '(1974)',
 '(1957)',
 '(2001)',
 '(1994)',
 '(2010)',
 '(2002)',
 '(1999)',
 '(1994)',
 '(1966)',
 '(2014)',
 '(1999)',
 '(1990)',
 '(1980)',
 '(1975)',
 '(1954)',
 '(1946)',
 '(2002)',
 '(2002)',
 '(2001)',
 '(1998)',
 '(1999)',
 '(1997)',
 '(1995)',
 '(1994)',
 '(1991)',
 '(1991)',
 '(1985)',
 '(1977)',
 '(1962)',
 '(2019)',
 '(2018)',
 '(2014)',
 '(2012)',
 '(2011)',
 '(2009)',
 '(2021)',
 '(2006)',
 '(2006)',
 '(2000)',
 '(2000)',
 '(1998)',
 '(1995)',
 '(1994)',
 '(1988)',
 '(1988)',
 '(1979)',
 '(1979)',
 '(1968)',
 '(1960)',
 '(1954)',
 '(1942)',
 '(1936)',
 '(1931)',
 '(2018)',
 '(I) (2019)',
 '(2016)',
 '(2018)',
 '(2019)',
 '(I) (2017)',
 '(2012)',
 '(2008)',
 '(2006)',
 '(2003)',
 '(1999)',
 '(1997)',
 '(1995)',
 '(1986)',
 '(1984)',
 '(1984)',
 '(1981)',
 '(1981)',
 '(1980)',
 '(1963)',
 '(1964)',
 '(1957)',
 '(1957)',
 '(1950)',
 '(1940)',
 '(2012)',
 '(2010)',
 '(2009)',
 '(2004)',
 '(2001)',
 '(2000)',
 '(1997)',
 '(1995)',
 '(1992)',
 '(1983)',
 '(1968)',
 '(1962)',
 '(1959)',
 '(1958)',
 '(1952)',
 '(1941)',
 '(1931)']

In [130]:
import pandas as pd

In [135]:
df = pd.DataFrame({'Name':name_ ,'Rating':rating_,'Year': year_})
df

                                                 Name         Rating    Year
0                    1.The Shawshank Redemption(1994)            9.3  (1994)
1                               2.The Godfather(1972)            9.2  (1972)
2                             3.The Dark Knight(2008)            9.1  (2008)
3   4.The Lord of the Rings: The Return of the Kin...            9.0  (2003)
4                            5.Schindler's List(1993)            9.0  (1993)
..                                                ...            ...     ...
95                        96.North by Northwest(1959)            8.3  (1959)
96                                   97.Vertigo(1958)            8.3  (1958)
97                       98.Singin' in the Rain(1952)            8.3  (1952)
98                              99.Citizen Kane(1941)            8.3  (1941)
99        100.M - Eine Stadt sucht einen Mörder(1931)            8.3  (1931)

[100 rows x 3 columns]